[submodule "latex-docker"]
	path = latex-docker
	url = git@github.com:blang/latex-docker.git
[submodule "multiface"]
	path = multiface
	url = git@github.com:facebookresearch/multiface.git
[submodule "heic-to-png"]
	path = heic-to-png
	url = git@github.com:victorlvl47/heic-to-png.git
